* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visible {
    visibility: hidden;
}

#add-book {
    width: 50px;
    background-color: green;
    color: white;
}

.del-btn {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
}